@font-face {
  font-family: 'inter';
  src: url('./Inter-Thin.otf');
}
@font-face {
  font-family: 'interBold';
  src: url('./Inter-Bold.otf');
}

@font-face {
  font-family: 'futura';
  src: url('./Futura-Medium.woff');
}

:root{
  --size: 9000px;
  --text: white;
  --background: black;
  --zoom: 1;
  --input: rgba(255, 255, 255, 0.429);
  --scheme: dark;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}


html{
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  width: var(--size);
  height: var(--size);

   overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;

}

body {
  scroll-behavior: smooth;
  scrollbar-width: none;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text);
  font-family: 'inter';
  width: 100%;
  height: 100%;
}


#loader-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: var(--background);
    z-index: 10000;
    display: flex;
    opacity: 0;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
}

#loader-container div{
    display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
    width: 100%;
}

#loader-container div p{

    width: 70%;
}

/* #loader-container div:nth-child(1){
  width: 40%;
}
#loader-container div:nth-child(2){

  height: 20%;

} */
#enter{
  display: none;
  width: 60%;
  background-color: var(--text);
  color: var(--background);
}

b{
  font-family: 'interBold';
}

#container{
  transform: scale(var(--zoom)) !important;
  transition:1.4s;
  transition-timing-function: ease;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  height: var(--size);
  position: absolute;
  z-index: 5;
}

#animatedLogo{
  transform: scale(var(--zoom)) !important;
  transition:1.4s;
  transition-timing-function: ease;
  width: 90vw;
  position: relative;
  z-index: 5;
}

#vene{  
  transform: scale(var(--zoom));
  transition:1.4s;
  transition-timing-function: ease;
  stroke: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: var(--size);
  height: var(--size);
  z-index: 0;
}

#vene svg{
  width: var(--size);
  height: var(--size);
}

.st0{
  stroke:var(--text);
  stroke-miterlimit:10;
  fill: none;}

circle{
  visibility: hidden;
}

polygon{
  opacity: 0;
}


/* ::-webkit-scrollbar {
  opacity: 0;
} */


button {
  border: .3px solid;
  border: none;
  border-radius: 3px;
  background: transparent;
  color: var(--text);
  font-size: 30px;
}


#contents{
  opacity: 0;
}



#menuButton,#up,#changeTheme,#zooming{
  position: fixed !important;
  opacity: 0;
  z-index: 10;
  text-shadow: 1px 1px var(--background);
}

#zooming{
  opacity: 1;
}

#changeTheme{
  color: var(--text);
  top: 18px;
  left: 5px;
  font-size: 2.5rem;
}

#changeTheme2{
  color: var(--text);
    font-size: 2.5rem;

}

#menuButton{
  filter: invert();
  width: 60px;
  bottom: 10px;
  right: 5px;
}

#up{
  position: relative;
  left: 7px;
  bottom: 5px;
  font-size: 50px;
}

#up span{
  font-family: 'futura';
}

#menu{
  display: none;
  z-index: 100;
  width: max-content;
  position: fixed;
  bottom: 75px;
  right: 15px !important;
  -webkit-backface-visibility: hidden;
  text-align: right;
}


#menu a{
  color: var(--text);
  text-decoration: none;
   text-shadow: 1px 1px var(--background);
}

.project{
  position: absolute;
  width: 100vw;
  height: max-content;
  overflow-y: scroll;
  padding: 5rem;
  z-index: 1;
}

/* Slide Show  */

.swiper {
  background-color: var(--background);
  margin: 30px 0;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--background);
}

.swiper-slide img,.swiper-slide p,.swiper-slide audio,.swiper-slide video {
  display: block !important;
  object-fit: cover !important;
  width: 100%;
  background: var(--background)
}

.audio .swiper-wrapper{
      margin: 0 0 30px 0;
}

.swiper-pagination-bullet{
  background-color: var(--text) !important;
}

.swiper-pagination-bullet-active{
  background-color: var(--background) !important;
     filter: invert(1);

}


/* FORM */

  label{
    break-after: always;
  }

#info,
form {
  margin: 30px;
}

.title{
    z-index: 99;
    position: relative;
}

#info {
  display: none;
}


#info a{
    color: var(--text);
    text-underline-offset: 3px;
}

form {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

form div {
  line-height: 1.5;
}

form input {
  width: 100%;
  background-color: transparent;
  font-size: 15px;
  border-radius: 10px;
  padding: 5px;
  margin: 5% 0;
}

label,
input {
  text-transform: capitalize;
  color: var(--text);
  color-scheme: var(--scheme);
}
h1{
    text-transform: uppercase;
      font-family: 'futura';

}
#title h1{
    text-align: center;
}
#birthday {
  text-transform: none;
  color: var(--input)
}

::placeholder {
  color: var(--input)
}

#birthday::placeholder {
  color: var(--text)
}

#submit{
    color:var(--text)
}

#head{
  display: flex;
  align-items: center;
  justify-content: space-around;;
}


.infoButton a{
  color: var(--text);
  text-decoration-line: overline !important;
}

#infoButton{
    text-decoration-line: overline !important;

}

.bigger{
  font-size: 25px;
  
}

/* INFO PAGE */
.info{
  object-fit: fill;
  padding: 25px;
  display: flex;
  gap:50px;
  flex-direction: column;
  position: absolute;
  bottom: 3rem;
}
 .backHome a{
                font-size: 45px;
                text-decoration: none;
                color: var(--text);
            }

.info a{
  color: var(--text);
}

.infoContents{
  display: flex;
  flex-direction: column;
  line-height: 24px;}

.headInfo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
}

a{text-underline-offset: 3px;}

@media (min-width:641px)  { 
  #menu a{
    font-size: 30px;
  }
   .project{
    width: 70%;
  }
  p{
      font-size: 20px;
  }
 }

@media (min-width:1000px) { 
#enter{
  display: none;
  width: 20%;
}

#loader-container div p{

    width: 70%;
}



  #animatedLogo{
    width: 60vw;
  }
  
#head{
    justify-content: space-between;

}
  #menu a{
    font-size: 20px;
  }


  .project{
    width: 40%;
  }


  form,#head{
    width: 40%;
    margin-left: 30%;
    gap: 0;
  }

  

 }
