@font-face {
  font-family: 'inter';
  src: url('./Inter-Thin.otf');
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  /* width: 1000%; */
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-family: 'inter';
}

svg{
  left: 10vw;
  /* filter: invert(); */
      width: 2000px;
    display: block;
}



.logo{
    /* border: solid; */
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}


#megaVena{
    width: 1000%;
    opacity: .3;
       filter: invert();
       position: relative;
       top: 0;
       left: 0;

}

#menuButton{
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99099;
}
#menu{
  display: none;
    z-index: 100;
    width: 100%;
    position: fixed;
    bottom: 35px;
    left: 0;
    -webkit-backface-visibility: hidden;
}

#menu a{
    color: white;
    text-decoration: none;
}

.project{
    position: absolute;
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
        padding: 2rem;

}

#info,
form {
  margin: 30px;
}

#info {
  display: none;
}

#infoButton {
  margin-left: 30%;
  margin-top: 4%;
}

#info a{
    color: white;
}

form {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

form div {
  line-height: 1.5;
}

form input {
  width: 300px;
  background-color: transparent;
  font-size: 20px;
  border-radius: 10px;
}

label,
input {
  text-transform: capitalize;
  color: white;
}
h1{
    text-transform: uppercase;
}
#title h1{
    text-align: center;
}
#birthday {
  text-transform: none;
  color: rgba(255, 255, 255, 0.429)
}

::placeholder {
  color: rgba(255, 255, 255, 0.429)
}

#birthday::placeholder {
  color: white;
}


button {
  border: .3px solid;
  border: none;
  border-radius: 3px;
  background: transparent;
  color: white;
  font-size: 30px;
}

#submit{
    color:white
}
