<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/style.css" />
    <style>
      body,
      html {
        width: 100% !important;
        height: 100% !important;
        margin: 0;
        padding: 0;
        position: fixed;
      }
    </style>
  </head>
  <body>
    <div class="headInfo">
      <button id="changeTheme2">✵</button>
      <!-- Cambio Tema -->
      <span class="backHome"><a href="../">→ Back to homepage</a></span>
    </div>
    <div class="info">
      <p class="bio">
        <a href="../">VENA</a>
        is a non-profit association established in 2019 after two years of work
        as cultural circle rooted within an old ceramics factory on the
        outskirts of East Milan, contributing actively to the development of the
        underground framework
        <i>via Tucidide.</i>
        <br />
        Growing like the veins of a multidisciplinary organism, it ramifies
        through various interests and projections of the natures of its
        participants;
        <br />
        relying on independent projects it aims at pursuing a common goal: a
        sprawling culture characterized by a strong desire to represent a
        multifaceted spirit of disciplinary commitment and constructive fun.
      </p>
    </div>

    <script defer async src="../static/index.light.js"></script>
  </body>
</html>
