<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>VENA</title>
        <link rel="canonical" href="https://www.">
        <meta property="og:locale" content="en_IT">
        <meta property="og:type" content="website">
        <meta property="og:title" content="">
        <meta property="og:description" content="">
        <meta property="og:url" content="https://www.">
        <meta property="og:site_name" content="VENA">
        <meta property="og:image" content="">
        <meta property="og:image:secure_url" content="https://">
        <meta property="og:image:width" content="400">
        <meta property="og:image:height" content="400">

        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="Federico Poni">
        <!-- TODO: ADD META -->
        <meta name=”robots” content=”index, follow, max-snippet:-1, max-image-preview:large>

        <meta name="description" content="">
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;  user-scalable=0;"/>
        <link rel="stylesheet" href="/static/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js" integrity="sha512-/6TZODGjYL7M8qb7P6SflJB/nTGE79ed1RfJk3dfm/Ib6JwCT4+tOfrrseEHhxkIhwG8jCl+io6eaiWLS/UX1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel=" stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
        <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
         <link rel="icon" type="image/x-icon" href="/static/assets/ico.png">
    </head>
    <body>

        <div id="loader-container" class="animate__animated">
            
            <div>
                <p id="loader-text">In this way you navigate....
            gif di freccia 4 lati che va in giro</p>
            </div>
            <div><button id="enter" class="animate__animated">Enter</button></div>
        </div>

        <!-- Bottoni -->
        <!-- <div id="buttonsTop" class="animate__animated  anima"> -->
        <span class="animate__animated  anima" id="changeTheme">✵</span>  <!-- Cambio Tema -->
        <!-- <button class="animate__animated  anima" id="zooming"></button></div> -->
        <span id="up" class="animate__animated  anima">☉</span> <!-- Ricentra -->
        <img id="menuButton" class="animate__animated  anima" src="/static/assets/hamburger.svg" alt=""> <!-- Apertura Menu -->


        <!-- Menu -->
        <div id="menu">
            {%for i in range(0, lenP)%} 
                {{projects[i]['menu'] | safe}}<br>
            {%endfor%} 
            <hr>
            <a href="/info">INFO & CONTACTS</a>
            <hr>
            <a href="/form">SUBSCRIBE</a><br>
        </div>


        <a id="simulate" href="#animatedLogo"></a>


        <!-- Logo Animato -->
        <div id="container"> 
            <img id="animatedLogo" data-depth="0.05" src="../static/assets/blackLogo.gif"  alt="">
       </div>

       <div id="contents" class="animate__animated anima">

            <!-- Reticolato -->
            <div id="vene">
<?xml version="1.0" encoding="utf-8"?>
<!-- Generator: Adobe Illustrator 23.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 9004.9 9009.7" style="enable-background:new 0 0 9004.9 9009.7;" xml:space="preserve">
<g id="Layer_1">
	<polygon id="center" class="st0" points="4519.2,4364.3 4465.1,4457.9 4357,4457.9 4303,4364.3 4357,4270.6 4465.1,4270.6 	"/>
	<path class="st0" d="M4584.5,4292.1c134.4-96.8,279.4-238.1,293.2-420.3c19.9-261.4-248.4-364.1-231.1-616.3
		c16.5-240.8,284.2-484.7,585.5-523.9c349.3-45.5,590.9,204,616.3,231.1"/>
	<path class="st0" d="M4230.5,4118.3c-597.2,88.8-796.3-9.5-862.9-123.3c-65.9-112.6,0-237.2,46.2-585.5
		c43.7-328.9,60.7-494,30.8-631.8c-5.8-27-119.8-515.9-554.7-693.4c-129.1-52.7-247-61.8-323.6-61.6"/>
	<path class="st0" d="M4584.9,4518.9c925.6,0.6,1225.1,198.6,1309.7,400.6c121.1,289-148.9,702.3,61.6,909.1
		c74.8,73.4,178,89.3,246.5,92.5"/>
	<path class="st0" d="M4199.7,4565.2c-95-16.3-241.9-30.3-416,0c-108.8,18.9-360,76.6-585.5,277.4c-98.8,88-253.9,226-222.4,349.3
		c18.2,71.2,83.7,79.4,230,243.9c81.8,92,122.5,138.8,115.7,177.2c-21.6,121.5-353.8,90.3-408.4,234
		c-20.9,55.1-6.3,149.5,161.9,320.7"/>
	<circle class="st0" cx="3165.8" cy="6172.6" r="4.9"/>
	<circle class="st0" cx="1801.7" cy="1944.2" r="9.9"/>
	<circle class="st0" cx="5930.1" cy="2981" r="13.2"/>
	<circle class="st0" cx="6276.8" cy="5889.3" r="11"/>
	<path class="st0" d="M4419.1,4554.4c192.6,1850.8,502.7,2358.4,786.9,2400c155.5,22.8,389.5-81.3,616.4,65.6
		c129.5,83.8,282,265.6,236.1,393.4c-82,228.4-714.6,52.4-1049.2,459c-39.3,47.7-64.6,91.6-78.7,118"/>
	<circle class="st0" cx="5074.4" cy="8008.1" r="17.6"/>
</g>
<g id="Layer_2">
	<path d="M2516.1,4492.2c14-2.6,27.9-4.5,41.5-5.7c45.7-2.1,82,8.4,118.7,18c13.6,3.6,21.9,14.1,44.4,4.7c1.5-0.6,4.9-0.6,5,0
		c5.9,22.5,53.9,6.4,66.5,25.5c12.6,19.1,52.5,9.4,82.7,8.2c49.8-1.9,99.4-19.3,148.4-40.4c8.3-3.2,16.6-6.9,24.5-10.8
		c41-20.2,45-26,36.4-51.5l-3.4-11.6c2.5,1.5,4.7,3.1,6.5,5c11.7,24.5,28,24.7,67.4,1.4c24.9-14.7,49.9-29.9,75.8-43.6
		c33.2-18.8,67.9-35.9,103.6-51.2c38.9-15.5,78.9-27.7,118.9-36.4c46.1-9.8,91.8-12.7,137.7-20.3c46-7.5,89.9-18.6,133.6-23.6
		c54.1-7.5,104.6-4.4,145.6,8.9c13.9,5,28.5,10.9,14,28.3c-10.7,12.7-29.2,19.4-54,19.6c-36.4,0.2-71.8-2.4-109.3,0.8
		c-52.8,4.4-107.8,16.3-161.5,35.1c-103.5,36.9-194.7,88.8-284.1,142.9c-23.2,14-40.5,33.5-59.1,51c-26.1,25-58.1,49.5-74,75
		c-19.5,31-62.2,48.5-86.1,75c-5.8,7.5-10.7,15.2-14.6,22.9c-62.5,31.1-130.7,65.9-183.4,114.9c-5.2-10.8-23.1-4.3-39,2.3
		c-82.8,34.7-164.5,45.2-246.4,56c-93,12.3-182.8,38.1-265.5,90.6c-8.1,5.1-15,11.1-23.1,16.4c-8.4,5.4-18,9.6-27.9,12.4
		c30.2-34.7,74.7-65.1,125.6-85.7c48.9-20.7,100.4-36.1,153.4-54.8c-39.7,2.1-78.9,2.8-119.1,6.6c-81.5,7.3-167.2,32.8-243.9,72.8
		c-42,21.5-83,44.4-124.6,66.5c-5.9,2.9-12.3,4.8-18.5,5.7c36.3-30.1,78.5-57.1,124.5-79.6c45.4-23.6,92.7-44.6,141.3-62.5
		c47.4-16.2,96.8-24.3,145.9-38.8c-55.2-19.9-121.6-6.7-198.5,21.1c67-42.1,143.4-56.8,211.6-43.7c28.5,6.4,58.2,11.5,88.9,15.2
		c85.7,7.6,176.1-3.9,271.4-42.2c20.3-7.8,39.9-17.2,59.9-25.8l-2.1-5.5l-49.6,14.8c15.6-17.6,34.8-20.9,51.2-22.9
		c48.3-5.1,72.4-15.9,100.9-47.3c11.9-13.2,24.2-26.3,37.4-40.6c10.7,7.4,20.2,3.5,31.5-9.1c12.4-12.8,25.6-25.4,39.6-37.7l-11-10.8
		c-43.8,19.8-87.3,40.5-130.5,58.6c-24.9,9.8-50.2,18.3-75.8,25.2c-101.2,29.3-198.4,40-294.1,43.5c-69.1,2.5-138.1,4.4-208.5,10.1
		c-82.3,5.8-168.3,23.8-252.4,52.8c-90.7,30.8-171.7,82.6-224.3,143.2c-37.2,42-78.3,83.2-123,123c-49.6,42.6-109.3,80.2-174.8,110
		c-18.8,8.9-38.1,16.9-57.2,25.5l-4.6-5.3c7.8-6.3,16.4-12.1,25.7-17.4c84-39.3,158.4-90.3,215.5-147.7c30.4-29.6,54.8-61.1,82-91.5
		l-3.4-3.2c-9.3,2.7-18.4,6.2-27.1,10.4c-41.8,25.2-81.7,50.6-122.7,75.9c-93.5,57.8-185.8,117.1-292.6,161
		c-34.8,14.2-67.8,33.5-103,45.4c-55,18.7-111.3,36.3-166.8,39.7c-2.5,0.1-4.7-0.8-12-2.1c9.4-4,18.9-7.6,28.6-11
		c49.3-14.9,100.5-25.5,147.3-45.2c65.8-28.4,129.8-59.8,191.5-93.8c44.9-25.5,88.2-52.5,129.8-80.9c61.7-40,121.6-82,184.9-121.1
		c56.6-34.8,116.9-66.4,175-100.1s120.1-53,181.6-76.1c57.8-21.8,116.1-30.2,173.8-38.1c15.4-1.7,31.2-4.6,46.9-8.6
		c-11.7-5.2-24.4-9.4-37.9-12.8c-45.8-7.8-92.2-15.6-148-6c-28.3,5-56.8,12.1-85,21.3c-72,23.6-141.5,55.4-204.7,93.6
		c-56.4,33.4-111.7,68-168.7,101c-28.2,16.4-59,30.1-94.2,48.2c3.3-7.1,3.5-10.1,5.5-11.4c82.9-51.9,168.2-102.5,248.7-155.9
		c58.4-38.4,123.2-71.5,191.4-97.4c69.6-27.1,142.7-39.4,206.9-35c41.2,2.8,79.7,9.5,114.7,19.8c27.9,8.9,57.3,16.4,87.9,22.4
		c24.7,3.2,51.4,3.6,79.1,1.3c49.5-2.6,99.8-7.3,150.6-13.9c27.8-3.9,57.4-15.5,86.2-23.6l0.2-5l-23.7-0.5
		c29.8-17.7,35.9-3.1,47.6,2.4c76.3-15.9,146-49.4,212.1-85.3c49.5-27,99.3-54.1,148.6-81.6c49.3-27.6,99-55.2,148.3-82.5
		c27.4-14.3,54-29.6,79.7-45.6c-20.3,5.7-42.4,8.8-60.8,17.7c-51,23.9-100.8,49.7-151.1,75.2c-38.6,19.7-77.1,39.5-114.9,60.1
		c-19.2,10.5-35.8,23.9-55.3,34.2c-19.5,10.2-39.3,20.8-58.1,24.1c-46.3,7.6-92.2,13.4-137.6,17.5c-23.7,1.8-47,2.5-69.8,2.2
		c-3.2,0.1-5.2-2.1-7.9-2.9c-22-7-45-12.7-65.7-21.1c-17.2-6.9-29.7-17.8-47.8-24.2c-17.3-5.2-35.6-9.6-54.6-13
		c-15.2-3.5-29.7-8-45.6-10.7c-15.9-2.7-29.5-3-44.5-4.4l1.5-5.1"/>
	<path class="st1" d="M1913.1,4772.2c-33.3,19.3-66.9,38.4-99.8,58.1c-35,20.9-69,43-104,64c-20.9,12.7-44.1,24.4-66.1,36.8"/>
	<path class="st1" d="M1420.7,5163.7c-41.1,18.5-81.3,40-123.5,54.9c-47.7,17-96.7,35.6-146.2,38.5c-9.7,1.5-19.5,3.9-29.1,7.1"/>
	<path class="st1" d="M2264.8,4901.5c-53.8,19.2-105.2,44.2-151.6,73.7c-28.2,17.1-57.3,33.4-87.1,48.8"/>
	<path class="st1" d="M1787.9,5023.6c-46.4,49.7-107.8,94.6-178.2,130.2c-27.7,14.5-55.4,28.8-83.1,43.1"/>
	<path class="st1" d="M2687.5,4520.8c-16.9-4.8-34.9-8.5-50.3-14.5c-33.2-13.1-75.5-12.6-117.7-12.9"/>
	<path class="st1" d="M2494.1,4896c-80.3,19.4-158.2,55.6-221,102.6c-6.4,4.7-13.6,9-20.5,13.5"/>
	<path class="st1" d="M2239.8,4861.4c34.4-10.9,66.7-27.1,103.1-32.9c41.5-7.8,80.8-6.7,112.3,3c7.8,2.6,9.4,11.4,13.8,17.2"/>
	<path class="st1" d="M3106,4472.6l-24.4-46.9"/>
	<path class="st1" d="M2859,4833.6l-5.7-31.6"/>
	<path class="st1" d="M2790,4637.1c33.6-12.9,34.7-12,31.2,14.3"/>
	<path class="st1" d="M2884,4756.6c-21.1-1.2-41,7.3-60.7,17.7"/>
	<path class="st1" d="M3023.4,4684.3l-14.4-20.7"/>
	<path class="st1" d="M3344.6,4349.2l-0.5-5.4"/>
	<circle cx="794.1" cy="5312.1" r="45.5"/>
	<circle cx="2219.4" cy="5143.5" r="33.2"/>
</g>
</svg>


            </div>

             <!-- Progetti -->
		    {%for i in range(0, lenP)%} 
                {{projectsDiv[i] |safe}}
                    <h1>{{projects[i]['title'] | safe}}</h1>
                    <h2>{{projects[i]['description'] | safe}}</h2>
                
                    <!-- Galleria -->
                    <div class="pictures swiper mySwiper">
                        <div class="swiper-wrapper">
                            {%for p in projects[i]['pics']%} 
                                <div class="swiper-slide" >
                                    <img class="lazy" data-src="{{p[1]}}" loading="lazy">
                                </div>
                            {%endfor%} 
                         </div>
                        <div class="swiper-pagination"></div>
                    </div>

                    <div class="audio swiper mySwiper">
                        <div class="swiper-wrapper">
                            {%for audio in projects[i]['audio']%}   
                                <div class="swiper-slide">  
                                    <h2>{{audio[2] | safe}}</h2>
                                    <audio controls loading="lazy">
                                        <source src="{{audio[0]}}">
                                    </audio> 
                                    {{audio[1] | safe}}
                                </div>
                            {%endfor%}
                        </div>
                         <div class="swiper-pagination"></div>
                    </div>

                    <div class="video swiper mySwiper">
                        <div class="swiper-wrapper">
                            {%for video in projects[i]['video']%}   
                                <div class="swiper-slide">  
                                    <h2>{{video[2] | safe}}</h2>
                                    <video controls loading="lazy">
                                        <source src="{{video[0]}}">
                                    </video> 
                                    {{video[1] | safe}}
                                </div>
                            {%endfor%}
                        </div>
                         <div class="swiper-pagination"></div>
                    </div>

                    <!-- <div class="pdf swiper mySwiper">
                        <div class="swiper-wrapper">
                            {%for pdf in projects[i]['pdf']%}   
                                <div class="swiper-slide">  
                                    <h2>{{pdf[2] | safe}}</h2>
                                    <iframe src="{{pdf[0]}}"></iframe>
                                    {{pdf[1] | safe}}
                                </div>
                            {%endfor%}
                        </div>
                         <div class="swiper-pagination"></div>
                    </div> -->

                    

                {{projects[i]['text'] | safe}}
            
                </div>
            {%endfor%} 

        </div>

    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js"></script>
    <script>
    var lazyLoadInstance = new LazyLoad();
    lazyLoadInstance.update();

    // gallery
    var swiper = new Swiper(".mySwiper", {
        preloadImages: false,
       lazy: {
            loadPrevNext: true, // pre-loads the next image to avoid showing a loading placeholder if possible
            loadPrevNextAmount: 2 //or, if you wish, preload the next 2 images
        },
        slidesPerView: 1,
        spaceBetween: 30,
        mousewheel: true,
        pagination: {
            el: ".swiper-pagination",
            clickable: true,
        },
    });


        function closeMenu(){
            if(menu.style.display === 'block'){
                menu.style.display = 'none'
                menuButton.src = "/static/assets/hamburger.svg"
            } else {
                menu.style.display = 'block'
                menuButton.src = "/static/assets/deburger.svg"
            }
        }
    </script>
    <script defer async src="../static/index.js"></script>
</body>
</html>